<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/reset.css">
    <link rel="stylesheet" href="../public/stylesheets/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <title>William sabino</title>
</head>

<body>

    <header class="menu">
        <div class="menu__logo">WS</div>
        <nav class="links">
            <ul class="lista__links">
                <li class="links__linha">Inicio</li>
                <li class="links__linha">Projetos</li>
                <li class="links__linha">Cursos</li>
                <li class="links__linha">Certificações</li>
                <li class="links__linha">Redes Sociais</li>
            </ul>
        </nav>
    </header>

    <section class="banner__principal">
        <div class="dados">
            <h1 class="principal__nome"><strong>William</strong></h1>
            <h1 class="principal__nome"><strong>Sabino</strong></h1>
            <p class="funcao">Programador Web Junior</p>
            <p class="subfuncao">Full-stack</p>
        </div>

        <div class="foto__perfil"></div>
    </section>

    <section class="aboutme">
        <div class="sobremim">
            <h1 class="aboutme__titulo">Olá!</h1>
            <hr class="linha">
            <p class="aboutme__texto">
                É um prazer ter você por aqui!
                <br>
                <br>
                Eu sou a William, tenho 23 anos e possuo uma história de vida fantástica que me inspira a continuar em
                busca
                de experiências incríveis.
                <br>
                <br>
                Retomando a área de programação em desenvolvimento web, estou estudando e fazendo projetos com foco em
                Full-Stack.
            </p>
        </div>
    </section>

    <section class="carrocel">
        <div class="carrocel__container__titulo">
            <h2 class="carrocel__titulo">Confira Alguns Projetos:</h2>
        </div>

        <div class="carrocel__portfolio">
            <!-- Slider main container -->
            <div class="swiper swiper-1">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper teste1">
                    <!-- Slides -->
                    <div class="swiper-slide slide-1"><img class="slide-img"
                            src="../public/assets/img/download (1).jpeg" alt=""></div>
                    <div class="swiper-slide slide-2"><img class="slide-img"
                            src="../public/assets/img/download (2).jpeg" alt=""></div>
                    <div class="swiper-slide slide-3"><img class="slide-img"
                            src="../public/assets/img/download (3).jpeg" alt=""></div>
                    <div class="swiper-slide slide-4"><img class="slide-img"
                            src="../public/assets/img/download (4).jpeg" alt=""></div>
                    <div class="swiper-slide slide-5"><img class="slide-img" src="../public/assets/img/download.jpeg"
                            alt=""></div>
                    <div class="swiper-slide slide-6"><img class="slide-img" src="../public/assets/img/images (1).jpeg"
                            alt=""></div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>
            </div>

            <div class="cards"></div>
        </div>
    </section>

    <section class="hard_skills">
        <h2 class="titulo__skills">Hard skills:</h2>

        <ul class="lista__skills">
            <li class="skills">
                <div class="img__linha__skills" teste="node"></div>
                <h2 class="titulo__linha__skills">Node.js</h2>
                <p class="texto__linha__skills">Criação de API's</p>
            </li>

            <li class="skills">
                <div class="img__linha__skills" teste="npm"></div>
                <h2 class="titulo__linha__skills">NPM</h2>
                <p class="texto__linha__skills">Familiaridade com o gerenciador de pacotes do Node</p>
            </li>

            <li class="skills">
                <div class="img__linha__skills" teste="mongo"></div>
                <h2 class="titulo__linha__skills">MongoDB</h2>
                <p class="texto__linha__skills">Gerenciamento de banco de dados</p>
            </li>

            <li class="skills">
                <div class="img__linha__skills" teste="js"></div>
                <h2 class="titulo__linha__skills">JavaScript</h2>
                <p class="texto__linha__skills">Manipulação de scripts no front-end e back-end</p>
            </li>

            <li class="skills">
                <div class="img__linha__skills" teste="git"></div>
                <h2 class="titulo__linha__skills">Git</h2>
                <p class="texto__linha__skills">Controle de vercionamento do codigo</p>
            </li>

            <li class="skills">
                <div class="img__linha__skills" teste="htmlcss"></div>
                <h2 class="titulo__linha__skills">HTML & CSS</h2>
                <p class="texto__linha__skills">Estruturação e design de paginas Web</p>
            </li>

        </ul>
    </section>

    <section class="cursos">
        <h1 class="cursos__titulo">Cursos em andamento</h1>
        <div class="cursos__listas">
            <ul class="lista_back">
                <h2 class="listas__titulo">Back-end</h2>
                <li>Autenticação, testes e segurança em Node.js</li>
                <li>APIs com Node.js e Express</li>
                <li>Modelagem de dados</li>
            </ul>
            <ul class="lista_front">
                <h2 class="listas__titulo">Front-end</h2>
                <li>Gerencie aplicações React com Typescript</li>
                <li>Desenvolva aplicações Web com JavaScript</li>
            </ul>
        </div>
    </section>

    <section class="certificacoes">
        <h2 class="certificacoes__titulo">Certificações</h2>

        <div class="certificacoes__container">
            <!-- Slider main container -->
            <div class="swiper swiper-2 swiper-top">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide certificado-1"></div>
                    <div class="swiper-slide certificado-2"></div>
                    <div class="swiper-slide certificado-3"></div>
                    <div class="swiper-slide certificado-4"></div>
                    <div class="swiper-slide certificado-5"></div>
                    <div class="swiper-slide certificado-6"></div>
                    <div class="swiper-slide certificado-7"></div>
                    <div class="swiper-slide certificado-8"></div>
                    <div class="swiper-slide certificado-9"></div>
                    <div class="swiper-slide certificado-10"></div>
                    <div class="swiper-slide certificado-11"></div>
                    <div class="swiper-slide certificado-12"></div>
                    <div class="swiper-slide certificado-13"></div>
                    <div class="swiper-slide certificado-14"></div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>

            <div class="swiper swiper-2 swiper-bottom">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide certificado-1"></div>
                    <div class="swiper-slide certificado-2"></div>
                    <div class="swiper-slide certificado-3"></div>
                    <div class="swiper-slide certificado-4"></div>
                    <div class="swiper-slide certificado-5"></div>
                    <div class="swiper-slide certificado-6"></div>
                    <div class="swiper-slide certificado-7"></div>
                    <div class="swiper-slide certificado-8"></div>
                    <div class="swiper-slide certificado-9"></div>
                    <div class="swiper-slide certificado-10"></div>
                    <div class="swiper-slide certificado-11"></div>
                    <div class="swiper-slide certificado-12"></div>
                    <div class="swiper-slide certificado-13"></div>
                    <div class="swiper-slide certificado-14"></div>
                </div>
            </div>

    </section>

    <script src="../public/javascript/carrocel.js" type="module"></script>
    <script src="../public/javascript/certificacoes.js" type="module"></script>

</body>

</html>